#game-board 
{
    background-color: rgb(70, 27, 27);
    display: block;
    height: 250px;
    width: 250px;
    margin: auto;
}

#game-title
{
    text-align: center;
    font-size: 2em;
}

html 
{
    background-color: pink;
}

.tile
{
    background-color: transparent;
    display: block;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 8px;
    float: left;
}   

#start-button 
{
    font-size: 20px;
    border-radius: 8px;

}
  
.tile-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    /* transition-delay: 2s; */
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .tile:hover .tile-inner 
{
    transform: rotateY(180deg);
} */

.tile-front, .tile-back-false, .tile-back-true
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tile-front 
{
    background-color: rgb(148, 66, 66);
}

.tile-back-false 
{
    background-color: rgb(255, 0, 0);
    transform: rotateY(180deg);
}

.tile-back-true 
{
    background-color: greenyellow;
    transform: rotateY(180deg);
}